
<%- include('partials/head') %>


  <%- include('partials/header') %>
    <p class= "p-2">Welcome to M&S Database, here you will find all the muvis and series from ol over de guorld.</p>

    <div class="row mx-md-n5">
      <div class="col-4 mx-auto">
        <div class="list-group-flush p-2">
          <a href="/movies" class="list-group-item list-group-item-action active bg-dark">Movies</a>


          <% for (let i=0; i < movies.length ; i++) { %>
              <a href =/movies/detail/<%= movies[i].id %> class="list-group-item list-group-item-action"> 
              <%= movies[i].title %></a>
          <% } %>
        

        </div>
      </div>
    
      <div class="col-4 mx-auto">
        <div class="list-group-flush p-2">
          <a href="/series" class="list-group-item list-group-item-action active bg-dark">Series</a>

          <% for (let i=0; i < series.length ; i++) { %>
            <a href =/movies/detail/<%= series[i].id %> class="list-group-item list-group-item-action"> 
            <%= series[i].title %></a>
        <% } %>

        </div>
      </div>
    </div>
        

    
  </body>
</html>
