<%- include('partials/head') %>

    <body>
    <%- include('partials/header') %>

    <div class="row row-cols-1 row-cols-md-3">
         <div class="col mb-4">
          <% for (let i=0; i < movies.length; i++) { %>
            <div class="card">
                
            <div class="card-body">
              <a href =/movies/detail/<%= movies[i].id %> ><h5 class="card-title"> <%= movies[i].title %> </h5> </a>
              <p class="card-text"> Rating: <%= movies[i].rating %> </p>
              <p class="card-text"> Awards: <%= movies[i].awards %> </p>
              <p class="card-text"> Length: <%= movies[i].length %> </p>
            </div>
          </div>

        <% } %>
        </div>

    <!-- Esto deberia ser visible solo para users admin -->

        <div>
          <h3>No encontraste la pelicula?</h3>
          <a href=/movies/create> Create </a>
      </div>
        

    </body>